*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
} 

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 173, 173);
}

.container{
    font-size: x-large;
    width: 80;
    height: 80;
    display: flex;
    box-shadow: 20px 20px 10px rgb(136, 19, 116);
}
.form-image{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}